<div class="footer-container">
  <a routerLink="/" aria-label="Photosnap Home" class="logo-link">
    <img src="assets/images/shared/desktop/logo-white.svg" alt="Photosnap" class="logo" />
  </a>
  
  <div class="social-icons">
    <a href="#" aria-label="Facebook" class="social-link">
      <img src="assets/images/shared/desktop/facebook.svg" alt="Facebook" />
    </a>
    <a href="#" aria-label="YouTube" class="social-link">
      <img src="assets/images/shared/desktop/youtube.svg" alt="YouTube" />
    </a>
    <a href="#" aria-label="Twitter" class="social-link">
      <img src="assets/images/shared/desktop/twitter.svg" alt="Twitter" />
    </a>
    <a href="#" aria-label="Pinterest" class="social-link">
      <img src="assets/images/shared/desktop/pinterest.svg" alt="Pinterest" />
    </a>
    <a href="#" aria-label="Instagram" class="social-link">
      <img src="assets/images/shared/desktop/instagram.svg" alt="Instagram" />
    </a>
  </div>

  <nav class="footer-nav">
    <ul class="nav-links">
      <li><a routerLink="/">Home</a></li>
      <li><a routerLink="/stories">Stories</a></li>
      <li><a routerLink="/features">Features</a></li>
      <li><a routerLink="/pricing">Pricing</a></li>
    </ul>
  </nav>

  <a routerLink="/invite" class="invite-link">
    GET AN INVITE
    <img src="assets/images/shared/desktop/arrow.svg" alt="Arrow" class="arrow" style="filter: brightness(0) invert(1);" />
  </a>
  
  <p class="copyright">Copyright 2019. All Rights Reserved</p>
</div>
