// Utilities Start

.decorative-img {
  width: 100%;
  height: 18rem;
  object-fit: cover;
  display: block;

  @media (min-width: 768px) {
    height: 60rem;
    width: 27.3rem;
  }

  @media (min-width: 1440px) {
    height: 60rem;
    width: 100%;
  }
}

// Utilities End

// Hero section Start

.hero-section {
  background-color: var(--black);

  @media (min-width: 768px) {
    display: grid;
    align-items: center;

    grid-template-columns: 1fr auto;
    grid-template-areas: 'hero-content hero-img';
  }

  @media (min-width: 1440px) {
    grid-template-columns: 4fr 6fr;
  }
}

.hero-img {
  width: 100%;
  height: 29.4rem;

  object-fit: cover;
  display: flex;
  grid-area: hero-img;

  @media (min-width: 768px) {
    width: 27.3rem;
    height: 65rem;
  }

  @media (min-width: 1440px) {
    width: 100%;
    height: 65rem;
  }
}

.hero-content {
  background-color: var(--black);
  color: var(--white);
  grid-area: hero-content;

  position: relative;

  a {
    color: var(--white);

    &:focus-visible {
      outline: 2px solid var(--white);
    }
  }

  @media (min-width: 768px) {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    padding-block: 0;

    &::before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 6px;
      height: 100%;
      background-image: linear-gradient(1deg, #ffc593 -25%, #bc7198 27%, #5a77ff 75%);
    }
  }
}

.section-content {
  padding: var(--py) var(--px);

  p {
    margin-block: 1.6rem 2.3rem;

    font-size: 1.5rem;
    line-height: 1.67;
    opacity: 0.6;

    max-width: 50rem;
  }

  a {
    font-size: 1.2rem;
    font-weight: bold;
    letter-spacing: 2px;
    text-decoration: none;
    text-transform: uppercase;

    display: inline-flex;
    align-items: center;
    gap: 1.8rem;

    img {
      transition: transform 0.3s ease;
    }

    &:hover,
    &:focus-visible {
      text-decoration: underline;
      text-underline-offset: 6px;
      text-decoration-thickness: 1px;

      img {
        transform: translateX(0.5rem);
      }
    }

    &:focus-visible {
      outline-offset: 6px;
    }
  }

  @media (min-width: 768px) {
    padding-block: 0;

    p {
      margin-block: 2.1rem 4.8rem;
    }
  }
}

// Hero section End

.secondary-section {
  background-color: var(--white);

  a {
    color: var(--black);

    &:focus-visible {
      outline: 2px solid var(--black);
    }
  }

  @media (min-width: 768px) {
    display: grid;
    align-items: center;
  }
}

// Beautiful Story section Start

.story-section {
  @media (min-width: 768px) {
    grid-template-columns: auto 1fr;
    grid-template-areas: 'story-box story-content';
  }

  @media (min-width: 1440px) {
    grid-template-columns: 6fr 4fr;
  }

  .decorative-img {
    grid-area: story-box;
  }

  .story-content {
    grid-area: story-content;
  }
}

// Beautiful Story section End

// Design section Start
.design-section {
  @media (min-width: 768px) {
    grid-template-columns: 1fr auto;
    grid-template-areas: 'design-content design-box';
  }

  @media (min-width: 1440px) {
    grid-template-columns: 4fr 6fr;
  }

  .decorative-img {
    grid-area: design-box;
  }

  .design-content {
    grid-area: design-content;
  }
}

// Design section End

// Stories section Start

.story-grid {
  display: grid;
  grid-template-columns: 1fr;
  width: 100%;

  @media (min-width: 768px) {
    grid-template-columns: repeat(2, 1fr);
  }

  @media (min-width: 1440px) {
    grid-template-columns: repeat(4, 1fr);
  }
}

// Stories section End

// Features section Start

.features-section {
  display: grid;
  grid-template-columns: 1fr;
  gap: 5.6rem;
  padding: 8rem 0;
  margin: 0 auto;

  @media (min-width: 768px) {
    grid-template-columns: 1fr 1fr;
    padding: 12rem 4rem;
    gap: 8rem;
  }

  @media (min-width: 1440px) {
    grid-template-columns: repeat(3, 1fr);
    gap: 3rem;
    padding: 12rem 4rem;
  }
}

// Features section End
