<section class="hero-section">
  <picture>
    <source media="(min-width: 1440px)" [srcset]="heroImages.desktop" />
    <source media="(min-width: 768px)" [srcset]="heroImages.tablet" />
    <img
      [src]="heroImages.mobile"
      class="hero-img"
      alt="Create and share photo stories"
    />
  </picture>

  <div class="section-content hero-content">
    <h1>
      Create & share your photo <br />
      stories.
    </h1>
    <p>
      Photosnap is a platform for photographers and visual storytellers. We make it easy to share
      photos, tell stories and connect with others.
    </p>

    <a href="#"
      >GET AN INVITE
      <img src="assets/images/shared/desktop/arrow.svg" class="arrow-icon-light" alt="" />
    </a>
  </div>
</section>

<section class="secondary-section story-section">
  <div class="decorative-box"></div>

  <div class="section-content">
    <h2>BEAUTIFUL STORIES EVERY TIME</h2>
    <p>
      We provide design templates to ensure your stories look terrific. Easily add photos, text,
      embed maps and media from other networks. Then share your story with everyone.
    </p>

    <a routerLink="/stories"
      >VIEW THE STORIES
      <img src="assets/images/shared/desktop/arrow.svg" alt="" />
    </a>
  </div>
</section>

<section class="secondary-section design-section">
  <div class="decorative-box"></div>

  <div class="section-content">
    <h2>DESIGNED FOR EVERYONE</h2>
    <p>
      Photosnap can help you create stories that resonate with your audience. Our tool is designed
      for photographers of all levels, brands, businesses you name it.
    </p>

    <a routerLink="/stories"
      >VIEW THE STORIES
      <img src="assets/images/shared/desktop/arrow.svg" alt="" />
    </a>
  </div>
</section>

<section class="story-grid">
  @for (story of stories(); track story.title) {
    <app-story-card [story]="story" />
  }
</section>

<section class="features-section">
  @for (feature of features(); track feature.title) {
    <app-feature-card [feature]="feature" />
  }
</section>
