h1,
h2 {
  font-size: 3.2rem;
  font-weight: bold;
  line-height: 1.25;
  letter-spacing: 3.33px;

  text-transform: uppercase;

  max-width: 40rem;

  @media (min-width: 768px) {
    font-size: 4rem;
    line-height: 1.2;
    letter-spacing: 4.17px;

    max-width: 32rem;
  }
}
