:root {
  --black: #000;
  --white: #fff;

  --bg-color: var(--black);

  --px: 3.3rem;
  --py: 7.2rem;

  --primary-font: 'DM Sans', sans-serif;
}

@media (min-width: 768px) {
  :root {
    --px: 5.4rem;
    --py: 13.6rem;
  }
}

@media (min-width: 1440px) {
  :root {
    --px: 11.2rem;
    --py: 16rem;
  }
}
