:host {
  background-color: var(--white);
  position: sticky;
  top: 0;
  z-index: 100;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2.8rem 2.4rem;

  max-width: 111rem;
  margin: 0 auto;

  @media (min-width: 768px) {
    padding: 2.8rem 4rem;
  }
}

.logo-link {
  text-decoration: none;

  &:focus-visible {
    outline: 2px solid var(--black);
    outline-offset: 4px;
  }
}

.mobile-toggle {
  background: transparent;
  border: none;
  cursor: pointer;
  padding: 0.5rem;

  display: flex;

  width: 3rem;
  height: 3rem;

  img {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }

  @media (min-width: 768px) {
    display: none;
  }

  &:focus-visible {
    outline: 2px solid var(--black);
  }
}

.nav-menu {
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translate(-50%, -2rem);

  width: 100%;
  padding: 2.8rem 2.8rem 3rem;

  background-color: var(--white);

  flex-grow: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;

  opacity: 0;
  visibility: hidden;
  transition:
    opacity 0.3s ease,
    visibility 0.3s ease,
    transform 0.4s cubic-bezier(0.16, 1, 0.3, 1);

  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.1);

  &.is-open {
    opacity: 1;
    visibility: visible;
    transform: translate(-50%, 0);
  }

  @media (min-width: 768px) {
    opacity: 1;
    visibility: visible;
    position: static;
    transform: unset;
    box-shadow: unset;
    padding: 0;

    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
}

.nav-links {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  gap: 2rem;

  a {
    text-decoration: none;
    color: var(--black);
    font-size: 1.5rem;
    font-weight: 700;
    letter-spacing: 2.5px;
    text-transform: uppercase;
    transition: opacity 0.3s ease;

    &:hover,
    &:focus-visible {
      opacity: 0.3;
    }

    &:focus-visible {
      outline: 2px solid var(--black);
      outline-offset: 4px;
    }
  }

  @media (min-width: 768px) {
    margin: 0 auto;

    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 3.7rem;

    a {
      font-size: 1.2rem;
      letter-spacing: 2px;
    }
  }
}

.nav-separator {
  width: 100%;
  border: none;
  border-top: 1px solid rgba(0, 0, 0, 0.25);
  margin-block: 2.2rem;

  @media (min-width: 768px) {
    display: none;
  }
}

.btn {
  font-size: 1.5rem;
  font-weight: bold;
  letter-spacing: 2.5px;
  color: var(--white);
  text-transform: uppercase;

  display: inline-flex;
  justify-content: center;
  align-items: center;
  background-color: var(--black);
  width: 100%;
  height: 4.8rem;

  transition: all 0.3s ease;
  text-decoration: unset;
  cursor: pointer;

  &:hover,
  &:focus-visible {
    background-color: #dfdfdf;
    color: var(--black);
  }

  &:focus-visible {
    outline: 2px solid var(--black);
  }

  @media (min-width: 768px) {
    font-size: 1.2rem;
    letter-spacing: 2px;
    width: auto;
    height: auto;

    padding: 1.2rem 2.4rem;
  }
}
